.body {
  background-color: #e5eaf5;
}
.gridContainer {
  display: flex;
  /* column-gap: px; */
  grid-template-columns: 96px auto;
  position: relative;
  height: 53rem;
  width: 100%;
  background: #e5eaf5;
}
.leftPanel {
  width: 96px;
  transition: 0.3s ease;
  /* height: 100%; */
}
.leftPanel-bg {
  height: 100%;
  width: 100%;
  background: #ffffff;
  border-radius: 0px 20px 20px 0px;
  border: 2px grey solid;
}
.leftPanel:hover {
  width: 146px;
}
.panelTop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 14%;
  border-bottom: 3px black solid;
}
.panelMid {
  border-bottom: 3px black solid;
  width: 100%;
  height: 70%;
}
.logo {
  width: 36px;
  height: 36px;
}
.panelLine {
  left: 13.54%;
  right: 13.54%;
  top: 10.6%;
  bottom: 89.3%;
  height: 2px;
}
.panelButton {
  background-color: #ffffff;
  left: 0px;
  border: none;
  width: 100%;
  margin-top: 30px;
  height: 70px;
}
.iconTagList {
  left: 0px;
  width: 36px;
  height: 36px;
}
.panelButton:hover {
    background: linear-gradient(to right, #1e5799, #2989d8, #7db9e8);
}
.searchBar {
  margin-left: 35px;
  margin-top: 26px;
  width: 568px;
  height: 43px;
}
.userIcon {
  position: absolute;

  /* text-decoration: none; */
  width: 44px;
  font-size: 44px;
  height: 44px;
  left: 88rem;
  top: 10px;
  /* border: 2px red solid; */
}
.userIcon a{
    text-decoration: none;
    color: black;
}
.userIcon a:hover{
    color: #ffc107;
}
.rightContainer {
  background-color: #e5eaf5;
  width: auto;
  flex-grow: 1;
  display: grid;
  height: 53rem;
  width: 100vw;
  border-radius: 20px 0px 0px 20px;
  grid-template-rows: 96px 760px;
  border: 2px grey solid;
  background-color: rgb(244, 243, 243);
}
.upperPanel {
  /* /* background-color: #002447; */
  background: linear-gradient(to right, #1e5799, #2989d8, #7db9e8);
  border-radius: 20px 0px 0px 00px;
}
.card-map {
  height: 97%;
  display: grid;
  grid-template-columns: 530px auto;

  /* border: 2px yellow solid;  */
}
.cardList {
  overflow: auto;
  margin-left: 10px;
  margin-top: 20px;
  width: 525px;
  left: 136px;
  top: 100px;
  border-radius: 20px;
  background-color: lightgray;
  box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.1);
  /* border: 2px grey solid; */
}
.card {
  /* position: absolute; */
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 490px;
  height: 260px;
  background-color: #ffffff;
  border-radius: 10px;
}

.card2{
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 490px;
  height: 260px;
  background-color: #ffffff;
  border-radius: 10px;
}

.cardTag {
  position: absolute;
  width: fit-content;
  padding: 5px 5px 5px 5px;
  height: 33px;
  left: 10px;
  top: 10px;
  background-color: #ffdd99;
  border-radius: 10px;
}
.cardText {
  position: absolute;
  width: 412.23px;
  height: 166px;
  left: 10px;
  top: 50px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  padding: 5px;
  color: #000000;
  border-radius: 10px;
  background-color: rgb(244, 243, 243);
  /* border: 2px grey solid; */
}
.cardTimeline {
  position: absolute;
  width: fit-content;
  height: 20px;
  left: 10px;
  bottom: 7px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  mix-blend-mode: normal;
  opacity: 0.4;
}
.viewMore {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 7px;
  top: 10px;
}
.tagIcon {
  position: absolute;
  width: 43px;
  height: 43px;
  right: 7px;

  bottom: 7px;
}
.mapContainer {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  width: 50rem;
  border-radius: 20px;
}
